body {
     margin: 0; 
     color: white;
     background-color: black;
     font-family: monospace;
}

header {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;
}

header button {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    display: block;        
    height: 24px;
    min-width: 50px;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background: none;
    border: 1px solid white;
}

header div {    
    float: left;
    clear: left;
    margin-left: 8px;
    margin-top: 6px;
}

header span {
    position: absolute;
    right: 8px;
    bottom: 6px;
}

canvas { 
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    display:block;
    border:1px solid white
}

test {
    color: #000;
}